.speech {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-indent: 1em;
}

.song {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: black;
    text-indent: 2em;
}

.direction {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    color: black;
    background-color: lightcoral;
}

.direction:hover {
    color:aliceblue;
    background-color: blue;
}

.name {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

.name:hover {
    text-shadow: 2px 3px 5px greenyellow;
    border-style: dotted;
}

.point {
    color: skyblue;
}

.wilfred {
    color: slategrey;
}

.meryll {
    color: khaki;
}

.fairfax {
    color: cornflowerblue;
}

.both {
    color: indigo;
}

table {
    border: solid 2px plum;
    background-color: pink;
    text-align: center;
    margin: 50px;
}

table thead tr {
    background-color: lavenderblush;
    border-radius: 5px;
}

table thead tr th {
    padding: 5px;
}

table tbody tr {
    border-radius: 5px;
}

table tbody tr td {
    padding: 5px;
}

table tbody tr:nth-child(even){
    background-color: lavenderblush;
}

table tbody tr:nth-child(odd){
    background-color: skyblue;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lavender;
    border: wheat;
}

ul.navbar-horizontal li {
    float:left; 
    color: grey;
    background-color: steelblue;
}

ul.navbar-horizontal a {
    display: block;
    color:#000;
    padding:8px;
}

ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
}